# Node
node_modules/
npm-debug.log*

# Next
.next/
out/

# Build
dist/
build/

# Env
.env
.env.*
!.env.example

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Coverage
coverage/

# Misc
*.tsbuildinfo


