.root {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.left {
  position: relative;

  flex: 1;

  display: flex;
  flex-direction: column;

  padding: 50px;

  overflow: hidden;

  background:rgba(20, 20, 23, 1);

  color: #fff;
}

.pinkBlur {
  position: absolute;

  width: 700px;
  height: 700px;

  right: -420px;
  bottom: -420px;

  pointer-events: none;

  background:
    radial-gradient(
      circle,
      rgba(225,130,196,.28) 0%,
      rgba(225,130,196,.18) 25%,
      rgba(225,130,196,.08) 45%,
      rgba(225,130,196,0) 72%
    );
}
.blueBlur {
  position: absolute;

  width: 1140px;
  height: 700px;

  left: -850px;
  top: -40px;

  pointer-events: none;
 

  background:
    radial-gradient(
      circle,
      rgba(27, 173, 238, 0.38) 0%,
      rgba(27, 173, 238, 0.28) 18%,
      rgba(27, 173, 238, 0.18) 36%,
      rgba(27, 173, 238, 0.09) 55%,
      rgba(27, 173, 238, 0.03) 70%,
      rgba(27, 173, 238, 0) 82%
    );
}
.logo,
.illustration,
.info {
  position: relative;
  z-index: 1;
}

.logo {
  flex-shrink: 0;
}

.illustration {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  flex-shrink: 0;

  max-width: 380px;
}

.title {
  margin: 0 0 15px;

  font-size: 28px;
  font-weight: 500;
  line-height: 100%;
}

.description {
  margin: 0;

  font-size: 14px;
  line-height: 100%;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.7);
}

.right {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #f5f5f7;

  padding: 50px;
}

.content {
  width: 100%;
  max-width: 420px;
}

@media (max-width: 700px) {
  .root { display: flex; flex-direction: column; min-height: 100vh; }
  .left { flex: 0 0 auto; min-height: 218px; padding: 10px; }
  .logo img { width: 70px; height: auto; }
  .illustration { min-height: 70px; }
  .illustration img { width: min(190px, 72vw); height: auto; }
  .info { max-width: none; }
  .title { margin-bottom: 10px; font-size: 22px; line-height: 1.1; }
  .description { font-size: 14px; line-height: 1.25; }
  .right { flex: 1; align-items: flex-start; padding: 30px 10px 24px; }
  .content { max-width: 420px; }
}
