.card{
    background: rgba(255, 255, 255, 1);
    border-radius: 20px;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

.card h1 {
    
font-weight: 500;

font-size: 22px;
color: #000;
line-height: 1.6;
letter-spacing: 0%;

}