.dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.statsGrid {
  display: grid;
  grid-template-columns: 1.38fr 1fr 1fr;
  grid-template-rows: 237px;
  gap: 20px;
}

.contentGrid {
  display: grid;
  grid-template-columns: 533fr 567fr;
  grid-template-rows: 350px;
  gap: 20px;
}