.stats {
    display: flex;

    border-top: 1px solid rgba(227, 227, 227, 1);
    border-bottom: 1px solid rgba(227, 227, 227, 1);
}

.stat {
    flex: 1 1 0;

    padding: 25px 50px;

    min-height: 126px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media (min-width: 900px) {
.stat:not(:last-child) {
    border-right: 1px solid rgba(227, 227, 227, 1);
}

}

.value {
    margin: 0;

    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
    width: fit-content;
 color: #18ADEE;
  background: linear-gradient(90deg, #18ADEE 0%, #FA90D9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.description {
    margin-top: 3px;
    color: rgba(89, 96, 110, 1);
    font-size: 14px;
    line-height: 21.75px;
}

@media (max-width: 900px) {

    .stats {
        flex-wrap: wrap;
        border-left: 1px solid rgba(227, 227, 227, 1);
        border-right: 1px solid rgba(227, 227, 227, 1);
    }

    .stat {
        flex: 1 1 100%;
        border-right: none;
    }

    .stat:not(:last-child) {
        border-bottom: 1px solid rgba(227, 227, 227, 1);
    }

}

@media (max-width: 700px) {
    .stats {
        margin: 0 8px;
    }

    .stat {
        min-height: 54px;
        padding: 20px;
        gap: 10px;
    }

    .value {
        font-size: 28px;
        line-height: 20px;
    }

    .description {
        margin-top: 2px;
        font-size: 14px;
        line-height: 12px;
        color: rgba(89, 96, 110, 1);
    }
}
