.card {
  display: flex;
  flex-direction: column;

  height: 100%;

  padding: 25px;

  background: #ffffff;

  border: 1px solid rgba(233, 233, 236, 1);
  border-radius: 20px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 45px;
  height: 45px;

  background: rgba(181, 122, 0, 0.1);


  border-radius: 10px;

  color: rgba(255, 176, 31, 1);

  font-size: 20px;
}

.count {
  margin: 10px 0 0;

  color: rgba(20, 20, 23, 1);

  font-size: 28px;
  font-weight: 500;
  line-height: 129%;
}

.label {
  margin: 10px 0 0;

  color: rgba(20, 20, 23, 0.6);

  font-size: 14px;
  font-weight: 400;
  line-height: 129%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 194px;
  height: 45px;

  margin-top: 22px;

  padding: 13.5px 15px;

  background: #ffffff;

  border: 1px solid rgba(16, 174, 239, 0.2);
  border-radius: 10px;

  color: rgba(16, 174, 239, 1);

  font-size: 14px;
  font-weight: 500;
  line-height: 100%;

  cursor: pointer;

  transition:
    background-color 0.2s ease,
    border-color 0.2s ease;
}

.button:hover {
  background: rgba(16, 174, 239, 0.05);
}

.button:active {
  background: rgba(16, 174, 239, 0.08);
}


.profitGreen{

font-weight: 400;
margin-top: 10px;
font-size: 14px;
color: rgba(19, 179, 106, 1)  ;
line-height: 129%;
letter-spacing: 0%;

}


.dot{
    
  display: inline-block;
  width: 5px;
  height: 5px;

  margin: 0 10px;

  background: rgba(19, 179, 106, 1);

  border-radius: 50%;   
}